<a id="data"> </a>
<html>
<body>

<h3>Understand the Data</h3><br>
1. Understand the problem statement and the data<br>
2. Cars dataset with features including make, model, year, engine, and other properties of the car used to predict its price

<ul>

</ul>  

</body>
</html>

In [1]:
# import pandas
import pandas as pd
# read the data
data = pd.read_csv('cars.csv')
# check first five rows of data
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In order to learn about each attribute, it is always good for us to know the data type of each column

<a id="central_tendency"> </a>
<html>
<body>

<h3> Measure of Central Tendency</h3>
<h4>1. Mean</h4>

In [2]:
# calculate the average values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
Make                 11914 non-null object
Model                11914 non-null object
Year                 11914 non-null int64
Engine Fuel Type     11911 non-null object
Engine HP            11845 non-null float64
Engine Cylinders     11884 non-null float64
Transmission Type    11914 non-null object
Driven_Wheels        11914 non-null object
Number of Doors      11908 non-null float64
Market Category      8172 non-null object
Vehicle Size         11914 non-null object
Vehicle Style        11914 non-null object
highway MPG          11914 non-null int64
city mpg             11914 non-null int64
Popularity           11914 non-null int64
MSRP                 11914 non-null int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [3]:
data_copy = data.select_dtypes(include=["int64","float64"]).copy().drop(['Year'],axis=1)
data_copy.head()

,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
0,335.0,6.0,2.0,26,19,3916,46135
1,300.0,6.0,2.0,28,19,3916,40650
2,300.0,6.0,2.0,28,20,3916,36350
3,230.0,6.0,2.0,28,18,3916,29450
4,230.0,6.0,2.0,28,18,3916,34500

In [4]:
import statistics as st
data_copy.isna().sum()

Engine HP           69
Engine Cylinders    30
Number of Doors      6
highway MPG          0
city mpg             0
Popularity           0
MSRP                 0
dtype: int64

In [5]:
print("Mean:\n*******\n")
for var in data_copy.columns:
    print(var," : ",end="\t")
    x=st.mean(data_copy[var].dropna()) 
    print(round(x,4))

Mean:
*******

Engine HP  : 	249.3861
Engine Cylinders  : 	5.6288
Number of Doors  : 	3.4361
highway MPG  : 	26.6375
city mpg  : 	19.7333
Popularity  : 	1554.9112
MSRP  : 	40594.737

<html>
<body>

<h4>2. Mode</h4>

In [6]:
# filter the categorical variables from the data

# calculate the mode
print("Mode:\n*******\n")
for var in data_copy.columns:
    print(var," : ",end="\t")
    x=st.mode(data_copy[var].dropna())
    print(round(x,4))

Mode:
*******

Engine HP  : 	200.0
Engine Cylinders  : 	4.0
Number of Doors  : 	4.0
highway MPG  : 	24
city mpg  : 	17
Popularity  : 	1385
MSRP  : 	2000

<html>
<body>

<h4>3. Median</h4>

In [7]:
# calculate the median
print("Median:\n*******\n")
for var in data_copy.columns:
    print(var," : ",end="\t")
    x=st.median(data_copy[var].dropna())
    print(round(x,4))

Median:
*******

Engine HP  : 	227.0
Engine Cylinders  : 	6.0
Number of Doors  : 	4.0
highway MPG  : 	26.0
city mpg  : 	18.0
Popularity  : 	1385.0
MSRP  : 	29995.0

<a id="dispersion"> </a>
<html>
<body>

<h3> Measure of Dispersion</h3>

<a id="variance"> </a>
<html>
<body>

<h4>1. Variance</h4>
<ul>

In [8]:
# calculate the variance
print("Variance:\n*******\n")
for var in data_copy.columns:
    print(var," : ",end="\t")
    x=st.variance(data_copy[var].dropna()) 
    print(round(x,4))

Variance:
*******

Engine HP  : 	11922.8645
Engine Cylinders  : 	3.1704
Number of Doors  : 	0.7767
highway MPG  : 	78.5528
city mpg  : 	80.7805
Popularity  : 	2078946.8406
MSRP  : 	3613104336.0348

<a id="standard_deviation"> </a>
<html>
<body>

<h4>2. Standard Deviation</h4>

In [9]:
# calculate the standard deviation 
print("Standard Deviation:\n*******\n")
for var in data_copy.columns:
    print(var," : ",end="\t")
    x=st.stdev(data_copy[var].dropna()) 
    print(round(x,4))

Standard Deviation:
*******

Engine HP  : 	109.1919
Engine Cylinders  : 	1.7806
Number of Doors  : 	0.8813
highway MPG  : 	8.863
city mpg  : 	8.9878
Popularity  : 	1441.8553
MSRP  : 	60109.1036

In [10]:
import numpy as np

In [25]:
# calculate a 5-number summary
from numpy import percentile
from numpy.random import rand
# generate data sample
data1 = ([1,12,20,11,0,15,19,22,19,30]) 
data= np.sort(np.asarray(data1))  
data
#calculate quartiles

quartiles = percentile(data, [25, 50, 75])
# calculate min/max
data_min, data_max = data.min(), data.max()
# print 5-number summary
print('Min: %.3f' % data_min)
print('Q1: %.3f' % quartiles[0])
print('Median: %.3f' % quartiles[1])
print('Q3: %.3f' % quartiles[2])
print('Max: %.3f' % data_max)
print (78-23)

Min: 0.000
Q1: 11.250
Median: 17.000
Q3: 19.750
Max: 30.000
55