In [1]:
import pandas as pd
# load the csv file of data
df_suicide = pd.read_csv('suicide_data.csv')

# display the head() of the dataset
df_suicide.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

The function 'StandardScaler()' is present in the sklearn library that normalizes the data by removing the mean and scaling to unit variance. This method does not change the shape of the original distribution. The formula for StandardScaler is given as:

Normalize the variable to reduce the scale of the data.

In [2]:
# import StandardScaler
from sklearn.preprocessing import StandardScaler as SS

# instantiate the standardscaler
ss = SS() 

df_suicide_copy=df_suicide.copy()
df_suicide_copy[' gdp_for_year ($) '] = df_suicide_copy[' gdp_for_year ($) '].str.replace(',','').astype('float64')

# fit the StandardScaler
df_suicide_copy[' gdp_for_year ($) '] = ss.fit_transform(df_suicide_copy[[' gdp_for_year ($) ']]) 

# minimum and maximum of scaled data
df_suicide_copy[' gdp_for_year ($) '].min(), df_suicide_copy[' gdp_for_year ($) '].max()

(-0.3065072896907677, 12.15969268237673)

#### Min-Max Normalization

Min-max normalization is another method to normalize the data. It performs a linear transformation on the data. The normalized values will be between 0 and 1. The formula for min-max normalization is given as:

Use the 'MinMaxScaler' from sklearn to normalize the variable 'population'.

In [3]:
# import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler as MMS

# instantiate the MinMaxScaler
mms=MMS()

df_suicide_copy2=df_suicide.copy()
df_suicide_copy2[' gdp_for_year ($) '] = df_suicide_copy2[' gdp_for_year ($) '].str.replace(',','').astype('float64')

# fit the MinMaxScaler
df_suicide_copy2[' gdp_for_year ($) '] = mms.fit_transform(df_suicide_copy2[[' gdp_for_year ($) ']]) 

# minimum and maximum of normalized population

df_suicide_copy2[' gdp_for_year ($) '].min(), df_suicide_copy2[' gdp_for_year ($) '].max()

(0.0, 0.9999999999999999)